@helper AuthorList(IEnumerable<Authors> author)
{
    <tbody>
           @foreach (var item in author)
           {
                <tr>
                    <td scope="row">@item.FirstName</td>
                    <td scope="row">@item.LastName</td>
                    <td scope="row">@Html.ActionLink("Изменить автора", "CreateAndEdit", "Author", new { id = @item.Id }, null)</td>
                    <td scope="row">@Html.ActionLink("Удалить автора", "Delete", "Author", new { id = @item.Id }, null)</td>
                </tr>
            }
     </tbody>
}

@helper CreateActionLink(string name, string view, string controller)
{
    @Html.ActionLink(name, view, controller)
}

@{
    ViewBag.Title = "Список авторов";
}
@model List<Authors>

@CreateActionLink("Добавить автора", "CreateAndEdit", "Author")

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Имя автора</th>
            <th scope="col">Фамилия фамилия</th>
        </tr>
    </thead>
    @AuthorList(Model)
</table>




