@helper BookList(IEnumerable<Books> book)
{
    <tbody>
        @foreach (var item in book)
        {
            <tr>
                <td scope="row">@item.AuthorId</td>
                <td scope="row">@item.Title</td>
                <td scope="row">@item.Pages</td>
                <td scope="row">@item.Price</td>
                <td scope="row">@Html.ActionLink("Изменить книгу", "CreateAndEdit", "Book", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Удалить книгу", "Delete", "Book", new { id = @item.Id }, null)</td>
            </tr>
        }
    </tbody>
}

@helper BookActionCreate(string name, string view, string conroller)
{
    @Html.ActionLink(name, view, conroller)
}

@{
    ViewBag.Title = "Список книг";
}

@BookActionCreate("Добавить книгу", "CreateAndEdit", "Book")

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Фамилия автора</th>
            <th scope="col">Наименование</th>
            <th scope="col">Кол-во страниц</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    @BookList(Model)
</table>


