@{
    List<Books> books = ViewBag.userHistory;
}

<h2>История заказов</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Название книги</th>
            <th scope="col">Дата выдачи</th>
            <th scope="col">Предполагаемая дата возврата</th>
            <th scope="col">Фактическая дата возврата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.userHistory)
        {
            <tr>
                <td scope="row">@item.UserId</td>
                <td scope="row">@item.BookId</td>
                <td scope="row">@item.DateOfIssue.ToShortDateString()</td>
                <td scope="row">@item.EstimatedDeliveryDate.ToShortDateString()</td>
                <td scope="row">@item.DateOfCompletion.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>